snippet (defn
	(defn ${1} [${2}]
	  (${3})
snippet (defmacro
	(defmacro ${1} [${2}]
	  (${3})
snippet (let
	(let [${1}]
	  (${2})
snippet (if
	(if (${1})
	  ${2}
	  ${3}
snippet (fn
	(fn [${1}] (${2})
