snippet (lambda
	(lambda (${1})
		(${2})
snippet (def
	(define ${1} (${2})
snippet (defn
	(define (${1})
	  (${2})
snippet (defs
	(define-syntax ${1}
	  (syntax-rules (${2})
	    (${3}))
snippet (let
	(let ((${1})${2})
		${3}
snippet (cond
	(cond ((${1})) ${2}
	  (else (${3}))
snippet (if
	(if (${1})
	  ${2}
